.good-item {
  display: grid;
  margin: 10rpx auto;
  padding: 10rpx;
  width: 45vw;
  height: min-content;
  border: 2rpx solid #666;
  break-inside: avoid;
  border-radius: 10rpx;
  color: #555;
  background-color: #fff;
}
.good-item .good-surplus {
  font-size: 20rpx;
}
.good-item .good-surplus::after {
  content: "个";
}
.good-item .good-img {
  width: auto;
  height: 240rpx;
}
.good-item .price {
  display: flex;
  justify-content: space-between;
}
.good-item .price .at-icon-shopping-cart {
  padding: 10rpx;
  background-color: #6098e283;
  border-radius: 10%;
}
