@card-width: 45vw;
@font_color: #555;
.good-item{
    display: grid;
    margin: 10rpx auto;
    padding: 10rpx;
    width: @card-width;
    height: min-content;
    border: 2rpx solid #666;
    break-inside: avoid;
    border-radius: 10rpx;
    color: @font_color;
    background-color: #fff;

    //物品剩余量
    .good-surplus{
        font-size: 20rpx;
    }
    .good-surplus::after{
        content: "个"
    }

    //物品图片
    .good-img{
        width: auto;
        height: 240rpx;
    }

    .price{
        display: flex;
        justify-content: space-between;

        .at-icon-shopping-cart{
            padding: 10rpx;
            background-color: #6098e283;
            border-radius: 10%;
        }
    }

    
}